<div class="d-flex justify-content-around bd-highlight">
    <div class="p-2 bd-highlight align-middle">
        <img src="assets/mypicture.png">
        <h1 align="center">Hi 👋, I'm Jury Umanchuk</h1>
        <h3 align="left">A passionate frontend developer from Argentina, and this is my Personal Portfolio</h3>
        <br>
        <ul>
            <li>- 🔭 I’m currently working on **IUDÚ** as Tech Lead</li>
            <li>- 🌱 I’m currently learning <strong>React</strong> & <strong>Angular</strong></li>
            <li>- 💬 Ask me about <strong>HTML, CSS, Javascript, .Net</strong></li>
        </ul>
    </div>
</div>
