
<div class="d-flex justify-content-center bd-highlight mt-4 mb-4">
    <div class="p-2 bd-highlight"><a href="https://www.linkedin.com/in/jumanchuk/"><fa-icon [icon]="faLinkedinIn" class="fa"></fa-icon></a></div>
    <div class="p-2 bd-highlight"><a href="https://twitter.com/jumanchuk"><fa-icon [icon]="faTwitter" class="fa"></fa-icon></a></div>
    <div class="p-2 bd-highlight"><a href="https://wa.me/1123981217"><fa-icon [icon]="faWhatsapp" class="fa"></fa-icon></a></div>
    <div class="p-2 bd-highlight"><a href="https://github.com/jumanchuk"><fa-icon [icon]="faGithub" class="fa"></fa-icon></a></div>
</div>